project:
  type: book
  render: 
    - "*.qmd"
    - "!*.md"
resources:
  - CNAME
book:
  # If you are forking our repo to develop content -- whether for NHS-R Community
  # or your own purposes -- please disable our Google Analytics tag during development.
  # If building your own site, replace our GA tag with your own GA tag before deployment.
  # This will prevent your activity being tracked and counted in our analytics dashboard.
  # Thank you!
  google-analytics: "G-3LD2BMRRL4"
  title: "NHSR-way"
  author: "NHS-R Community"
  date: last-modified
  chapters:
    - index.qmd
    - code-of-conduct.qmd
    - nhsr-committee.qmd
    - style-guides.qmd
    - community-handbook.qmd
    - training.qmd
    - references.qmd
  page-footer:
    left: |
      NHS-R Way by the NHS-R Community
      
      NHS-R Community makes all of their materials publicly available under open source licenses
    right: |
      This unofficial book was built with <a href="https://quarto.org/">Quarto</a>.
  repo-url: https://github.com/nhs-r-community/NHSR-way/
  repo-branch: main
  repo-actions: [edit, issue]
  site-url: https://nhsrway.nhsrcommunity.com/


bibliography: references.bib

format:
  html:
    theme: cosmo
